.formulario{
    background-image: url(../img/fondoprod.jpg);
    @extend %background;
    color: $color-secundario;
    font-family: 'Alegreya', serif;
    font-size: 18px;
    min-height: $height;
    padding: 20px;
    display: flex;
    justify-content: center;
}