.formulario{
    background-image: url(../img/fondoprod.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #F3DFA2;
    font-family: 'Alegreya', serif;
    font-size: 18px;
    height: calc(100vh - 103.5px);
    padding: 20px;
    display: flex;
    justify-content: center;
}