header{
    nav{
        background: #231f20;
        background: linear-gradient(90deg, #231f20 0%, #f3dfa2 95%);
        background: -webkit-linear-gradient(90deg, #231f20 0%, #f3dfa2 95%);
        background: -moz-linear-gradient(90deg, #231f20 0%, #f3dfa2 95%);
        padding: 25px 10px 25px 10px;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            a{
                .logo{
                    width: 80px;
                    height: 55px;
                    margin: 5px;
                    }
                }
        }
        div{
            ul{
                display: flex;
                list-style: none;
                li{
                    margin: 15px 10px 15px 10px;
                        a{
                            text-decoration: none;
                            color: #231f20;
                            font-family: 'Alegreya', serif;
                            font-size: 25px;
                            font-weight: 20px;
                            border: 2px #231f20 solid;
                            padding: 10px;
                            &:hover{
                                transform: scale(1.1) skew(15deg);
                                -webkit-transform: scale(1.1) skew(15deg);
                                -moz-transform: scale(1.1) skew(15deg);
                        }
                    }
                }
            }
        }
    }
}