main{
    .hero{
        background-image: url(../img/fondoprod.jpg);
        @extend %background;
        color: $color-secundario;
        font-family: 'Alegreya', serif;
        height: $height;
        text-align: center;
        @include flex (flex, center, center);
        flex-direction: column;
        h1{
            padding: 10px;
            margin-top: 5px;
            @include font (55px, 50px);
            border: 2px solid $color-terciario;
            animation: borderAnimation-hero 2s infinite ease-in-out;
        }
        @keyframes borderAnimation-hero {
            0% {
                border-width: 2px;
            }
            50% {
                border-width: 5px;
            }
            100% {
                border-width: 2px;
            }
        }
        .imagenuno{
            width: 80%;
            height: 45%;
            margin-top: 40px;
        }  
        .imagendos{
            display: none;
        }
        p{
            @include font (35px, 35px);
            margin: 10px;
        }
    }
    .productos{
        background-color: $color-primario;
        font-family: 'Alegreya', serif;
        text-align: center;
        @include flex (flex, center, center);
        h2{
            padding: 10px;
            margin-top: 10px;
            color: $color-secundario;
            @include font (40px, bolder);
            border: 2px solid transparent;
            animation: borderAnimation 2s infinite;
        }
        @keyframes borderAnimation {
            0% {
                border-color: transparent;
            }
            50% {
                border-color: $color-terciario
            }
            100% {
                border-color: transparent;
            }
        }
        p{
            color: $color-cuaternario;
            text-align: center;
            font-family: 'Alegreya', serif;
            @include font (35px, 22px);
            margin-bottom: 15px;
            a{
                text-decoration: none;
                color: $color-secundario;
                transition: color 1s ease;
                &:hover{
                    color: $color-terciario;
                }
            }
        }
    }
    .prod-flex{
        background-color: $color-primario;
        font-family: 'Alegreya', serif;
        text-align: center;
        @include flex (flex, space-evenly, center);
        flex-wrap: wrap;
        .card{
            margin: 10px;
            .card-img-top{
                background-color: $color-secundario;
            }
            .card-body{
                background-color: $color-terciario;
                .titulo-prod{
                    color: $color-primario;
                    font-family: 'Alegreya', serif;
                    @include font (auto, bold);
                }
                .parrafo-prod{
                    color: $color-primario;
                    font-family: 'Alegreya', serif;
                    @include font (20px, bold);
                    margin-bottom: 15px;
                }
                .boton-prod{
                    transition: 1s ease;
                    &:hover{
                    color: $color-secundario;
                    transform: rotateY(360deg);
                    }
                }
            }
        }
    }
    .progreso{
        background-image: url(../img/fondoprod.jpg);
        @extend %background;
        font-family: 'Alegreya', serif;
        color: $color-cuaternario;
        display: flex;
        justify-content: center;
        h2{
            border: 2px $color-terciario solid;
            padding: 10px;
            margin-top: 10px;
            color: $color-secundario;
            @include font (40px, bolder);
            border: 2px solid transparent;
            animation: borderAnimation 2s infinite; 
        }
            @keyframes borderAnimation {
            0% {
                border-color: transparent;
            }
            50% {
                border-color: $color-terciario
            }
            100% {
                border-color: transparent;
            }
        }
    }
    .perfil{
        background-image: url(../img/fondoprod.jpg);
        @extend %background;
        font-family: 'Alegreya', serif;
        text-align: center;
        img{
            margin-top: 10px;
            width: 70%;
            height: 220px;
        }
        p{
            color: $color-cuaternario;
            font-size: 30px;
        }
        a{
            text-decoration: none;
            color: $color-secundario;
            font-size: 30px;
            transition: color 1s ease;
            &:hover{
                color: $color-terciario;
            }
        }
    }
}

.position{
    position: fixed;
    bottom: 30px;
    right: 40px;
    img{
        width: 45px;
        transition: 2s;
        &:hover{
            transform: scale(1.3);
        }
    }
}