main{
    .nosotros{
        background-image: url(../img/fondoprod.jpg);
        @extend %background;
        font-family: 'Alegreya', serif;
        height: $height;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        div{
            h2{
                display: inline-flex;
                padding: 10px;
                margin-top: 10px;
                color: $color-secundario;
                @include font (40px, bolder);
                border: 2px solid transparent;
                animation: borderAnimation 2s infinite;
            }
            @keyframes borderAnimation {
                0% {
                    border-color: transparent;
                }
                50% {
                    border-color: $color-terciario
                }
                100% {
                    border-color: transparent;
                }
            }
            p{
                font-size: 32px;
                color: $color-cuaternario;
            }
        }
    }
}