main{
    .miperfil{
        background-image: url(../img/fondoprod.jpg);
        @extend %background;
        font-family: 'Alegreya', serif;
        min-height: $height;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        div{
            h2{
                display: inline-flex;
                padding: 10px;
                color: $color-secundario;
                @include font (35px, bolder);
                border: 2px solid transparent;
                animation: borderAnimation 2s infinite;
            }
            @keyframes borderAnimation {
                0% {
                    border-color: transparent;
                }
                50% {
                    border-color: $color-terciario
                }
                100% {
                    border-color: transparent;
                }
            }
            h3{
                font-size: 32px;
                color: $color-secundario;
            }
            .perfildesc{
                font-size: 28px;
                color: $color-cuaternario;
            }
            h4{
                font-size: 32px;
                color: $color-secundario;
            }
            .niveles{
                text-align: left;
                font-size: 28px;
                color: $color-cuaternario;
                span{
                    color: $color-secundario;
                    text-decoration: underline;
                }
            }
        }
    }
}
