main{
    .productos{
        .producto-titulo{
            border: 2px $color-terciario solid;
            padding: 10px;
            margin-top: 10px;
            color: $color-secundario;
            @include font (40px, bolder);
        }
    }
    .productos-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 450px 450px 450px;
        background-color: $color-primario;
        text-align: center;
        .producto-main{
            margin: 15px;
            border: 2px $color-secundario solid;
            padding: 10px;
            background-image: url(../img/fondoprod.jpg);
            @extend %background;
            box-shadow: 10px 10px 5px 0px rgba(126, 189, 194, 0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(126, 189, 194, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(126, 189, 194, 0.75);
            img{
                width: 300px;
                height: 250px;
            }
            h3{
                color: $color-cuaternario;
                font-family: 'Alegreya', serif;
                @include font (19px, bold);
            }
            p{
                color: $color-cuaternario;
                font-family: 'Alegreya', serif;
                @include font (18px, bold);
                margin-bottom: 15px;
            }
            a{
                text-decoration: none;
                color: $color-primario;
                font-family: 'Alegreya', serif;
                @include font (24px, bold);
                background-color: $color-secundario;
                margin: 3px;
                padding: 3px;
                border-radius: 15px;
                transition: 1s ease-in-out;
                &:hover{
                    box-shadow: 15px -3px 17px 0px rgba(126, 189, 194, 0.75);
                    -webkit-box-shadow: 15px -3px 17px 0px rgba(126, 189, 194, 0.75);
                    -moz-box-shadow: 15px -3px 17px 0px rgba(126, 189, 194, 0.75);
                    background-color: $color-primario;
                    color: $color-cuaternario;
                }
            }
        }
    }
}

