@media screen and (max-width:nth($media-query, 1)) {
    .informacion .envio {
        height: 750px;
    }

    .informacion .pago {
        height: 750px;
    }
}

@media screen and (max-width:nth($media-query, 2)) {
    main .miperfil div h2 {
        font-size: 30px;
    }

    main .miperfil div h3 {
        font-size: 28px;
    }

    main .miperfil div h4 {
        font-size: 28px;
    }

    main .miperfil div .perfildesc {
        font-size: 25px;
    }

    main .miperfil div .niveles {
        font-size: 25px;
    }
}

@media screen and (max-width:nth($media-query, 3)) {
    main .productos .producto-titulo {
        padding: 10px;
        margin-top: 15px;
        @include font (35px, 15px);
    }
}

@media screen and (max-width:nth($media-query, 4)) {
    main .productos h2 {
        padding: 10px;
        margin-top: 15px;
        @include font (35px, 15px);
    }
}

@media screen and (max-width:nth($media-query, 5)) {
    main .productos-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:nth($media-query, 6)) {
    main .productos .producto-titulo {
        font-size: 30px;
    }
}

@media screen and (max-width:nth($media-query, 7)) {
    main .miperfil div h2 {
        font-size: 28px;
    }

    main .miperfil div h3 {
        font-size: 25px;
    }

    main .miperfil div h4 {
        font-size: 25px;
    }

    main .miperfil div .perfildesc {
        font-size: 20px;
    }

    main .miperfil div .niveles {
        font-size: 20px;
    }
}

@media screen and (max-width:nth($media-query, 8)) {
    main .productos h2 {
        font-size: 30px;
        margin-top: 18px;
    }
}

@media screen and (max-width:nth($media-query, 9)) {
    .informacion {
        flex-direction: column;
    }

    .informacion .envio {
        width: 95%;
        height: 505px;
        @include flex (flex, center, center);
        background-image: url(../img/fondoprod.jpg);
    }

    .informacion .pago {
        width: 95%;
        height: 505px;
        @include flex (flex, center, center);
        background-image: url(../img/fondoprod.jpg);
    }

    main .productos-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    main .productos .producto-titulo {
        font-size: 25px;
    }

    .position {
        display: none;
    }

    main .hero h1{
        padding: 10px;
        @include font (45px, 20px);
    }

    main .hero img {
        width: 80%;
        height: 40%;
        margin-top: 20px;
    }

    main .hero p {
        @include font (30px, 30px);
        margin: 5px;
    }
}

@media screen and (max-width:nth($media-query, 10)) {
    main .productos h2 {
        margin: 20px;
        font-size: 30px;
    }

    main .productos p {
        font-size: 28px;
    }

    main .progreso h2{
        font-size: 30px;
    }

    main .perfil p{
        font-size: 25px;
        margin: 8px;
    }

    main .perfil a{
        font-size: 25px;
    }
}

@media screen and (max-width:nth($media-query, 11)) {
    main .hero{
        height: $heigt-mq;
    }

    main .miperfil{
        height: $heigt-mq;
    }

    .informacion{
        height: $heigt-mq;
    }

    .formulario{
        height: $heigt-mq;
    }

    main .nosotros{
        height: $heigt-mq;
    }

    main .nosotros div h2{
        font-size: 35px;
    }

    main .nosotros div p{
        font-size: 26px;
    }
}

@media screen and (max-width:nth($media-query, 12)) {
    main .miperfil div h2 {
        font-size: 24px;
    }

    main .miperfil div h3 {
        font-size: 20px;
    }

    main .miperfil div h4 {
        font-size: 20px;
    }

    main .miperfil div .perfildesc {
        font-size: 16px;
    }

    main .miperfil div .niveles {
        font-size: 16px;
    }
}

@media screen and (max-width:nth($media-query, 13)) {
    main .hero h1{
        font-size: 35px;
    }

    main .hero p {
        font-size: 22px;
    }

    main .productos-grid{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:nth($media-query, 14)) {
    main .nosotros div h2{
        font-size: 32px;
    }

    main .nosotros div p{
        font-size: 22px;
    }
}


@media screen and (max-width:nth($media-query, 15)) {
    main .hero h1{
        font-size: 30px;
    }

    main .hero p {
        font-size: 20px;
    }

    main .hero .imagenuno {
        display: none;
    }

    main .hero .imagendos {
        display: flex;
    }

    main .productos h2 {
        font-size: 24px;
    }

    main .productos p {
        font-size: 22px;
    }

    main .progreso h2{
        font-size: 24px;
    }

    main .perfil p{
        font-size: 20px;
    }

    main .perfil a{
        font-size: 22px;
    }

    main .productos .producto-titulo {
        font-size: 20px;
    }

    footer p {
        font-size: 20px;
    }

    footer a {
        font-size: 18px;
    }

    footer section div img {
        width: 50px;
    }

    footer section div a img {
        width: 35px;
    }
}

@media screen and (max-width:nth($media-query, 16)) {
    main .hero h1{
        font-size: 20px;
    }

    main .hero p {
        font-size: 18px;
    }

    main .productos h2 {
        font-size: 18px;
        margin: 6px;
    }

    main .productos p {
        font-size: 18px;
    }

    main .productos .producto-titulo {
        font-size: 16px;
        padding: 5px;
    }

    main .miperfil div h2 {
        font-size: 16px;
    }

    main .miperfil div h3 {
        font-size: 15px;
    }

    main .miperfil div h4 {
        font-size: 15px;
    }

    main .miperfil div .perfildesc {
        font-size: 14px;
    }

    main .miperfil div .niveles {
        font-size: 14px;
        margin: 3px;
    }

    main .nosotros div h2{
        font-size: 25px;
    }

    main .nosotros div p{
        font-size: 18px;
    }
}

@media screen and (max-width:nth($media-query, 17)) {
    main .progreso h2{
        font-size: 20px;
    }

    main .perfil p{
        font-size: 16px;
    }

    main .perfil a{
        font-size: 18px;
    }

    footer p {
        font-size: 18px;
        margin-bottom: 8px;
    }
}