$color-primario: #231f20;
$color-secundario: #F3DFA2;
$color-terciario: #7EBDC2;
$color-cuaternario: #EAEAEA;

$media-query:
1630px,
1580px,
1530px,
1490px,
1430px,
1350px,
1270px,
1210px,
1160px,
1050px,
993px,
750px,
715px,
650px,
590px,
483px,
400px;

