//VARIABLES//
$color-primario: #231f20;
$color-secundario: #F3DFA2;
$color-terciario: #7EBDC2;
$color-cuaternario: #EAEAEA;
$height: calc(100vh - 103.5px);
$heigt-mq: calc(100vh - 91px);

//LISTA//
$media-query:
1630px,
1580px,
1530px,
1490px,
1430px,
1350px,
1270px,
1210px,
1160px,
1050px,
993px,
750px,
715px,
650px,
590px,
483px,
400px;

//EXTEND//
%background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

//MIXINS//
@mixin flex($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($size, $weight){
    font-size: $size;
    font-weight: $weight;
}